// ------------- Fonts
$font-stack: 'Kumbh Sans', sans-serif;

// Font sizes
$size-h1: 28px;
$size-h2: 24px;
$size-h3: 20px;
$size-h4: 14px;

$size-p: 16px;

// ------------- Colors
// Primary colors

$violet: #5964E0;
$light-violet: #939BF4;
$very-dark-blue: #19202D;
$midnight: #121721;

// Secondary colors

$white: #FFFFFF;
$light-grey: #F4F6F8;
$gray: #9DAEC2;
$dark-grey: #6E8098;